@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

// COLORS ------------------------------
// ### Primary
$strong-cyan: hsl(172, 67%, 45%);

// ### Neutral
$v-d-cyan: hsl(183, 100%, 15%);
$d-grayish-cyan: hsl(186, 14%, 43%);
$d-grayish-cyan2: hsl(184, 14%, 56%);
$l-grayish-cyan: hsl(185, 41%, 84%);
$l-grayish-cyan2: hsl(189, 41%, 97%);

$btn-hover: rgb(159, 232, 223);

// FONTS----------------------------
// ###font size
$font-size: 24px;

// ###typography
$font-family: "Space Mono", monospace;
